@tailwind base;
@tailwind components;
@tailwind utilities;

.myClass {
  text-decoration: underline;
}

:root {
  --primary-color: #dadbf1;
  --secondary-color: #4c5fd5;
}

/* .textBox {
  background-color: ;
} */
